@charset "EUC-KR";

body
{
	background-color:#f4f4f4;	
}

h1 {
	color: red;
	font-size: 20px;
}

a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	color: red;
}

.logWrap {
	text-align: right;
}

table
{
	background-color:white;
}

.submenu
{
	background-color: #f4f4f4;
	height: 40px;	
	text-align: center;			
}

.submenu:hover
{
	background-color: #cccccc;
}

input:focus, textarea:focus
{
	background: #e1e1f2;
}