@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6, a, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	color: #46649B;
	display: inline-block;
	text-align: center;
}

h2 {
	text-align: center;
	margin: 5px 0 20px;
	text-align: center;
}

h3 {
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}

h4 {
	font-size: 30px;
	margin-bottom: 10px;
}

div {
	box-sizing: border-box;
}

span {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	text-align: left;
	width: 80px;
}

.login span {
	width: 100px;
}

.signup span, .reinfo span{
	width: 130px;
}

.clearfix {
	content: '';
	display: block;
	clear: both;
} 

.btn {
	padding: 5px 10px;
	border: 1px solid #46649B;
	border-radius: 10px;
	background-color: #fff;
	color: #46649B;
	font-weight: bold;
	cursor: pointer;
	font-size: 12px;
}

.btn:hover {
	background-color: #46649B;
	color: #fff;
}

input:focus {
	background: #eee;
}

.main > div {
	margin: 0 auto;
}

/****** header ******/
header {
	height: 80px;
	line-height: 70px;
	padding: 0 20px;
}

.nav {
	display: inline-block;
	float: right;
}

.nav ul {
	list-style: none;
}

.nav li,
.nav li a {
	display: inline-block;
}

.nav li a {
	padding: 5px 10px;
	font-weight: bold;
}

.nav li a:hover {
	color: #46649B;
}

/****** main ******/
.contents {
	text-align: center;
}

.cont {
	display: inline-block;
	
	box-sizing: border-box;
	margin: 10px 5px;
	padding: 20px 0;
	width: 300px;
	height: 130px;
	border-radius: 30px;
	
	background: #d0d9ea;
	color: #283a5b;
}

.cont:hover {
	background: #46649B;
	color: #fff;
}

/* cal */
.cal {
	padding: 20px;
	text-align: center;
}

/* notice */
.notice {
	width: 600px;
}

.notice .btn {
	float: right;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #d0d9ea;
}

table th:first-child {
	width: 60px;
}

table th:nth-child(3),
table th:nth-child(4) {
	width: 70px;
}

table thead {
	background-color: #d0d9ea;
}

table th, table td {
	padding: 5px;
}

table td:nth-child(2) {
	text-align: left;
}

table tbody tr:hover {
	background: #eee;
}

.paging {
	padding: 5px;
	text-align: center;
}

.paging li,
.paging a {
	display: inline-block;
}

.paging a:hover {
	color: #283a5b;
}

.now {
	color: #283a5b;
	text-decoration: underline;
}

/****** login ******/
.login {
	text-align: center;
}

/****** loginok/logout/signup/info/reinfo/writeok ******/
.loginok, .logout, .signup,
.info, .reinfo, .writeok {
	text-align: center;
}

/****** signup/info ******/
.center, .signup, .info,
.reinfo, .writeok, .view {
	width: 600px;
}

.signup input[type=text],
.signup input[type=password],
.reinfo input[type=text],
.reinfo input[type=password] {
	width: 140px;
}

.info {
	width: 300px;
}

.info p {
	width: 100%;
	text-align: left;
}

/****** write ******/
.write, .center, .modify {
	width: 500px;
}

.write textarea,
.modify textarea {
	width: 400px;
	height: 200px;
	resize: none;
}

/****** view ******/
.view .viewtext {
	background: #fdfdfd;
	width: 100%;
	min-height: 200px;
	box-sizing: border-box;
	padding: 10px;
}